<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Stroke: A Risk Analysis</title>

        <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="../static/styles/style.css">
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        
    </head>
    <body>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div id="dismiss">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                </div>

                <div class="sidebar-header">
                    <h3>Menu</h3>
                </div>

                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="#plotSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Visualizations</a>
                        <ul class="collapse list-unstyled" id="plotSubmenu">
                            <li><a href="scatterPlots.html">Scatter Plots</a></li>
                            <li><a href="donutCharts.html">Donut Charts</a></li>
                            <li><a href="riskMeter.html">Risk Meter</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#resourceSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Resources</a>
                        <ul class="collapse list-unstyled" id="resourceSubmenu">
                            <li><a href="dataset.html">Dataset</a></li>
                            <li><a href="strokeInfo.html">Stroke Information</a></li>
                            <li><a href="PP.html">PowerPoint</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#aboutSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">About</a>
                        <ul class="collapse list-unstyled" id="aboutSubmenu">
                            <li><a href="ML.html">Machine Learning</a></li>
                            <li><a href="about.html">Our Team</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>

            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span>Open Sidebar</span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="../index.html">
                                        <img src="../static/images/homeIconBlue.png" width="50" height="50" class="d-inline-block align-top" alt="home">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <h2>Stroke Information</h2>
                <p>"Stroke is a disease that affects the arteries leading to and within the brain. It is the No. 5 cause of death and a leading cause of disability in the United States.</p>
                <p>A stroke occurs when a blood vessel that carries oxygen and nutrients to the brain is either blocked by a clot or bursts (or ruptures). When that happens, part of the brain cannot get the blood (and oxygen) it needs, so it and brain cells die."</p>
                <p> - American Stroke Association</p>
                
                <div class="row">
                    <div class="col-md-8">
                        <div class="col-md-12">
                            <dt>Stroke Facts</dt>
                                <dd> <span style="color:rgb(84, 84, 104);"> - Different types of strokes:  </span><a style="color:rgb(56, 56, 228);" href="https://www.stroke.org/en/about-stroke/types-of-stroke/ischemic-stroke-clots">ischemic</a>, <a style="color:rgb(56, 56, 228);" href="https://www.stroke.org/en/about-stroke/types-of-stroke/hemorrhagic-strokes-bleeds">hemorrhagic</a>, and <a style="color:rgb(56, 56, 228);" href="https://www.stroke.org/en/about-stroke/types-of-stroke/tia-transient-ischemic-attack">transient ischemic attack (TIA).</a></dd>
                                <dd> <span style="color:rgb(84, 84, 104);"> - Variable and complex <a style="color:rgb(56, 56, 228);" href="https://www.stroke.org/en/about-stroke/effects-of-stroke">effects </a> on the brain.  </span></dd>
                                <dd> <span style="color:rgb(84, 84, 104);"> - <a style="color:rgb(56, 56, 228);" href="https://www.stroke.org/en/about-stroke/effects-of-stroke">F.A.S.T. </a> way to spot stroke signs.</span></dd>
                                <dd> <span style="color:rgb(84, 84, 104);"> - Health and social <a style="color:rgb(56, 56, 228);" href="https://www.stroke.org/en/about-stroke/stroke-risk-factors/women-have-a-higher-risk-of-stroke">risk factors </a>may increase your risk of a stroke.</span></dd>
                                <dd> <span style="color:rgb(84, 84, 104);"> - Women have a <a style="color:rgb(56, 56, 228);" href="https://www.stroke.org/en/about-stroke/stroke-risk-factors/women-have-a-higher-risk-of-stroke">higher risk </a>for stroke.</span></dd>
                                <dd> <span style="color:rgb(84, 84, 104);"> - <a style="color:rgb(56, 56, 228);" href="https://www.stroke.org/en/about-stroke/effects-of-stroke">Recovering </a> after a stroke.</span></dd>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <a href="https://macnealhospital.org/services/stroke-care/recognizing-stroke"><img src="../static/images/FAST.jpg" width="100%" alt="F.A.S.T."></a>
                        <p>(MacNeal Hospital, Loyola Medicine)</p>
                    </div>
                </div>

                <div class="line"></div>
                
                <p>Information on this page comes from the American Stroke Association's official website. More information can be found <a style="color:rgb(56, 56, 228);" href="https://www.stroke.org/en/about-stroke">here</a>.</p>

                <div class="line"></div>
                <p style="text-decoration: underline;">References</p>
                <p>American Stroke Association. 2021. About Stroke. <a style="color:rgb(56, 56, 228);" href="https://www.stroke.org/en/">https://www.stroke.org/en/</a>.</p>
                <p>Loyola Medicine. 2021. Stroke: Act F.A.S.T.. <a style="color:rgb(56, 56, 228);" href="https://macnealhospital.org/services/stroke-care/recognizing-stroke">https://macnealhospital.org/services/stroke-care/recognizing-stroke</a>.</p>

            </div>
        </div>



        <div class="overlay"></div>


        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').addClass('active');
                    $('.overlay').fadeIn();
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>
    </body>
</html>
